
.x-red{
    width: 10px;
  
  }
  body{
    overflow-x: hidden;
  }
  .u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 1100px;
  }
  
  .u-section-1 .u-shape-1 {
    width: 1088px;
    height: 918px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 60px 0 0 auto;
  }
  
  .u-section-1 .u-image-1 {
    width: 690px;
    height: 691px;
    object-position: 0% 50%;
    background-position: 50% 50%;
    background-image: url("../img/detector-de-humo.jpg");
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
    margin: -862px 115px 0 auto;
  }
  
  .u-section-1 .u-shape-2 {
    width: 227px;
    height: 228px;
    background-image: linear-gradient(#c37cd8, #ab4ec7);
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -35px 78px 0 auto;
  }
  
  .u-section-1 .u-group-1 {
    background-image: none;
    width: 541px;
    min-height: 441px;
    box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: -481px auto 60px 0;
    
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 24px 40px;
  }
  
  .u-section-1 .u-text-1 {
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin: 112px auto 0 0;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    margin: 21px 0 0;
  }
  
  .u-section-1 .u-btn-1 {
    text-transform: uppercase;
    font-weight: 700;
    background-image: none;
    margin: 45px auto 0 17px;
    padding: 15px 65px 15px 64px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-shape-1 {
      width: 940px;
      margin-top: 80px;
    }
  
    .u-section-1 .u-image-1 {
      width: 660px;
      height: 660px;
      margin-top: -842px;
      margin-right: 69px;
    }
  
    .u-section-1 .u-group-1 {
      width: 490px;
      min-height: 417px;
      margin-top: -459px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-shape-1 {
      height: 816px;
      margin-top: 60px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-image-1 {
      width: 509px;
      height: 509px;
      margin-top: -753px;
      margin-right: 30px;
    }
  
    .u-section-1 .u-group-1 {
      width: 415px;
      min-height: 415px;
      margin-top: -408px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 3.75rem;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1200px;
    }
  
    .u-section-1 .u-shape-1 {
      height: 535px;
      width: 519px;
      margin-right: 0;
      margin-left: auto;
    }
  
    .u-section-1 .u-image-1 {
      width: 377px;
      height: 377px;
      margin-top: -464px;
      margin-right: 38px;
    }
  
    .u-section-1 .u-group-1 {
      width: 426px;
      min-height: 427px;
      margin-top: -75px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1006px;
    }
  
    .u-section-1 .u-shape-1 {
      height: 378px;
      width: 328px;
    }
  
    .u-section-1 .u-image-1 {
      width: 271px;
      height: 271px;
      margin-top: -355px;
      margin-right: 20px;
    }
  
    .u-section-1 .u-group-1 {
      min-height: 363px;
      margin-top: -66px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 1.125rem;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 3rem;
    }
  
    .u-section-1 .u-btn-1 {
      margin-top: 42px;
      margin-left: 6px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }
  
  .u-section-2 .u-list-1 {
    margin-top: 58px;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 321px;
    grid-gap: 20px 20px;
  }
  
  .u-section-2 .u-list-item-1 {
    background-image: none;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 0 30px;
  }
  
  .u-section-2 .u-icon-1 {
    width: 64px;
    height: 64px;
    background-image: none;
    margin: 43px auto 0;
    padding: 6px;
  }
  
  .u-section-2 .u-text-1 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 49px 10px 0;
  }
  
  .u-section-2 .u-btn-1 {
    text-transform: uppercase;
    font-weight: 700;
    background-image: none;
    margin: 21px auto 0;
    padding: 15px 65px 15px 64px;
  }
  
  .u-section-2 .u-list-item-2 {
    background-image: none;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 0 30px;
  }
  
  .u-section-2 .u-icon-2 {
    width: 64px;
    height: 64px;
    background-image: none;
    margin: 43px auto 0;
    padding: 6px;
  }
  
  .u-section-2 .u-text-2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 49px 10px 0;
  }
  
  .u-section-2 .u-btn-2 {
    text-transform: uppercase;
    font-weight: 700;
    background-image: none;
    margin: 21px auto 0;
    padding: 15px 65px 15px 64px;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-bottom: -149px;
  }
  
  .u-section-2 .u-layout-cell-1 {
    min-height: 325px;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 30px 25px;
  }
  
  .u-section-2 .u-text-3 {
    font-weight: 700;
    font-size: 2.25rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    text-transform: uppercase;
    margin: 0 0 0 5px;
  }
  
  .u-section-2 .u-layout-cell-2 {
    min-height: 325px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
  
  .u-section-2 .u-container-layout-4 {
    padding: 20px 30px;
  }
  
  .u-section-2 .u-text-4 {
    margin: 49px 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 742px;
    }
  
    .u-section-2 .u-list-1 {
      width: 1463px;
      margin-right: -523px;
      margin-left: auto;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
      min-height: 269px;
    }
  
    .u-section-2 .u-text-1 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-btn-1 {
      margin-top: 0;
      margin-left: 84px;
    }
  
    .u-section-2 .u-text-2 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-btn-2 {
      margin-top: 0;
      margin-left: 84px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-bottom: 60px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 268px;
    }
  
    .u-section-2 .u-text-3 {
      margin-left: 0;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 268px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 100vh;
    }
  
    .u-section-2 .u-list-1 {
      width: 720px;
      margin-right: 0;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: calc(50% - 9.99997px) calc(50% - 9.99997px);
      min-height: 264px;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-2 .u-text-1 {
      width: auto;
      margin-top: 22px;
      margin-right: 20px;
    }
  
    .u-section-2 .u-btn-1 {
      margin-left: 34px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-2 .u-text-2 {
      width: auto;
      margin-top: 22px;
      margin-right: 20px;
    }
  
    .u-section-2 .u-btn-2 {
      margin-left: 34px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-bottom: 36px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 951px;
    }
  
    .u-section-2 .u-list-1 {
      width: 540px;
    }
  
    .u-section-2 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-text-1 {
      margin-top: 13px;
      margin-right: 0;
    }
  
    .u-section-2 .u-btn-1 {
      margin-top: 17px;
      margin-left: auto;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-text-2 {
      margin-top: 13px;
      margin-right: 0;
    }
  
    .u-section-2 .u-btn-2 {
      margin-top: 17px;
      margin-left: auto;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-bottom: 42px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 772px;
    }
  
    .u-section-2 .u-list-1 {
      width: 340px;
    }
  
    .u-section-2 .u-icon-1 {
      margin-top: 14px;
    }
  
    .u-section-2 .u-text-1 {
      margin-top: 14px;
    }
  
    .u-section-2 .u-btn-1 {
      margin-top: 28px;
    }
  
    .u-section-2 .u-icon-2 {
      margin-top: 14px;
    }
  
    .u-section-2 .u-text-2 {
      margin-top: 14px;
    }
  
    .u-section-2 .u-btn-2 {
      margin-top: 28px;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      margin-bottom: 60px;
    }
  } .u-section-3 {
    background-image: none;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 1246px;
  }
  
  .u-section-3 .u-shape-1 {
    height: 947px;
    margin-top: 54px;
    margin-bottom: 0;
  }
  
  .u-section-3 .u-layout-wrap-1 {
    width: 915px;
    margin: -806px auto 0;
  }
  
  .u-section-3 .u-image-1 {
    background-image: url("../img/Group 61.png");
    background-position: 50% 50%;
    min-height: 459px;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 30px 30px 30px 60px;
  }
  
  .u-section-3 .u-layout-cell-2 {
    min-height: 459px;
  }
  
  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 77px 0 0;
  }
  
  .u-section-3 .u-text-2 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 20px 0 0;
  }
  
  .u-section-3 .u-image-2 {
    background-image: url("../img/responsive.png");
    background-position: 50% 50%;
    min-height: 459px;
  }
  
  .u-section-3 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-3 .u-layout-cell-4 {
    min-height: 396px;
  }
  
  .u-section-3 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 69px 0 0;
  }
  
  .u-section-3 .u-text-4 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 20px 0 0;
  }
  
  .u-section-3 .u-image-3 {
    min-height: 396px;
    background-image: url("../img/Group 7.png");
    background-position: 50% 50%;
  }
  
  .u-section-3 .u-container-layout-5 {
    padding: 30px;
  }
  
  .u-section-3 .u-layout-cell-6 {
    min-height: 396px;
  }
  
  .u-section-3 .u-container-layout-6 {
    padding: 30px;
  }
  
  .u-section-3 .u-text-5 {
    font-size: 1.875rem;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 78px 0 0;
  }
  
  .u-section-3 .u-text-6 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin: 20px 0 0;
  }
  
  .u-section-3 .u-text-7 {
    text-transform: uppercase;
    margin: -1006px auto 940px 295px;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-text-1 {
      --animation-custom_in-translate_x: 0px;
      --animation-custom_in-translate_y: 0px;
      --animation-custom_in-opacity: 0;
      --animation-custom_in-rotate: 0deg;
      --animation-custom_in-scale: 1;
    }
  
    .u-section-3 .u-text-7 {
      width: auto;
      margin-top: -996px;
      margin-right: 169px;
      margin-left: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1187px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      width: 720px;
    }
  
    .u-section-3 .u-image-1 {
      min-height: 384px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 30px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 384px;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-3 .u-image-2 {
      min-height: 361px;
    }
  
    .u-section-3 .u-layout-cell-4 {
      min-height: 100px;
    }
  
    .u-section-3 .u-image-3 {
      min-height: 307px;
    }
  
    .u-section-3 .u-layout-cell-6 {
      min-height: 100px;
    }
  
    .u-section-3 .u-text-7 {
      margin-top: -911px;
      margin-right: auto;
      margin-bottom: 60px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 2071px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      width: 540px;
    }
  
    .u-section-3 .u-image-1 {
      min-height: 509px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 269px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 1.875rem;
    }
  
    .u-section-3 .u-image-2 {
      min-height: 812px;
    }
  
    .u-section-3 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-3 .u-image-3 {
      min-height: 506px;
    }
  
    .u-section-3 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-container-layout-6 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-3 .u-text-7 {
      margin-top: -2692px;
      margin-left: 6px;
      margin-right: 6px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1277px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      width: 340px;
    }
  
    .u-section-3 .u-image-1 {
      min-height: 352px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 294px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-3 .u-image-2 {
      min-height: 511px;
    }
  
    .u-section-3 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-text-3 {
      font-size: 1.5rem;
    }
  
    .u-section-3 .u-image-3 {
      min-height: 352px;
    }
  
    .u-section-3 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-text-5 {
      font-size: 1.5rem;
    }
  
    .u-section-3 .u-text-7 {
      margin-top: -2174px;
      margin-right: auto;
      margin-left: -14px;
    }
  }
  
  .u-section-3 .u-text-2,
  .u-section-3 .u-text-2:before,
  .u-section-3 .u-text-2 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
  }
  
  .u-section-3 .u-text-2.u-text-2.u-text-2:hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
  }
  
  .u-section-3 .u-text-2.u-text-2.u-text-2.hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
  }
  
  .u-section-3 .u-container-layout:hover .u-text-2 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  }
  
  .u-container-layout.hover .u-section-3 .u-text-2 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  }
  
  .u-section-3 .u-text-1,
  .u-section-3 .u-text-1:before,
  .u-section-3 .u-text-1 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
  }
  
  .u-section-3 .u-container-layout:hover .u-text-1 {
    transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
    color: #11a3e5 !important;
  }
  
  .u-container-layout.hover .u-section-3 .u-text-1 {
    transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
    color: #11a3e5 !important;
  }
  
  .u-section-3 .u-text-5,
  .u-section-3 .u-text-5:before,
  .u-section-3 .u-text-5 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
  }
  
  .u-section-3 .u-container-layout:hover .u-text-5 {
    transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
    color: #11a3e5 !important;
  }
  
  .u-container-layout.hover .u-section-3 .u-text-5 {
    transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
    color: #11a3e5 !important;
  }
  
  .u-section-3 .u-text-6,
  .u-section-3 .u-text-6:before,
  .u-section-3 .u-text-6 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
  }
  
  .u-section-3 .u-text-6.u-text-6.u-text-6:hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
  }
  
  .u-section-3 .u-text-6.u-text-6.u-text-6.hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
  }
  
  .u-section-3 .u-container-layout:hover .u-text-6 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  }
  
  .u-container-layout.hover .u-section-3 .u-text-6 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  }
  
  .u-section-3 .u-text-3,
  .u-section-3 .u-text-3:before,
  .u-section-3 .u-text-3 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
  }
  
  .u-section-3 .u-container-layout:hover .u-text-3 {
    transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
    color: #11a3e5 !important;
  }
  
  .u-container-layout.hover .u-section-3 .u-text-3 {
    transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
    color: #11a3e5 !important;
  }
  
  .u-section-3 .u-text-4,
  .u-section-3 .u-text-4:before,
  .u-section-3 .u-text-4 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
  }
  
  .u-section-3 .u-text-4.u-text-4.u-text-4:hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
  }
  
  .u-section-3 .u-text-4.u-text-4.u-text-4.hover {
    transform: scale(1.1) translateX(0px) translateY(0px) !important;
  }
  
  .u-section-3 .u-container-layout:hover .u-text-4 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  }
  
  .u-container-layout.hover .u-section-3 .u-text-4 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  } .u-section-4 {
    min-height: 945px;
  }
  
  .u-section-4 .u-shape-1 {
    height: 392px;
    margin-top: 0;
    margin-bottom: 0;
    background-image: none;
  }
  
  .u-section-4 .u-image-1 {
    width: 899px;
    height: 598px;
    margin: -310px calc(((100% - 1140px) / 2)) 0 auto;
  }
  
  .u-section-4 .u-group-1 {
    min-height: 583px;
    width: 505px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
    margin: -399px auto 60px calc(((100% - 1140px) / 2));
  }
  
  .u-section-4 .u-container-layout-1 {
    padding: 20px 37px;
  }
  
  .u-section-4 .u-text-1 {
    margin: 129px auto 0;
  }
  
  .u-section-4 .u-form-1 {
    height: 394px;
    width: 431px;
    margin: 20px auto 0;
  }
  
  .u-section-4 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: none;
    font-size: 1.25rem;
    padding: 16px 30px 17px;
  }
  
  @media (max-width: 1199px) {
     .u-section-4 {
      min-height: 946px;
    }
  
    .u-section-4 .u-image-1 {
      width: 688px;
      height: 496px;
      margin-right: calc(((100% - 940px) / 2));
    }
  
    .u-section-4 .u-group-1 {
      min-height: 500px;
      width: 402px;
      margin-top: -294px;
      margin-left: calc(((100% - 940px) / 2));
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-right: 50px;
    }
  
    .u-section-4 .u-form-1 {
      width: 315px;
    }
  
    .u-section-4 .u-btn-1 {
      width: 100%;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-4 {
      min-height: 1069px;
    }
  
    .u-section-4 .u-shape-1 {
      height: 365px;
    }
  
    .u-section-4 .u-image-1 {
      width: 631px;
      height: 456px;
      margin-top: -283px;
      margin-right: calc(((100% - 720px) / 2));
    }
  
    .u-section-4 .u-group-1 {
      margin-top: -119px;
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-4 {
      min-height: 1059px;
    }
  
    .u-section-4 .u-image-1 {
      width: 540px;
      height: 390px;
      margin-right: calc(((100% - 540px) / 2));
    }
  
    .u-section-4 .u-group-1 {
      margin-top: -50px;
      margin-left: auto;
      margin-bottom: 57px;
    }
  
    .u-section-4 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-4 {
      min-height: 906px;
    }
  
    .u-section-4 .u-shape-1 {
      height: 264px;
    }
  
    .u-section-4 .u-image-1 {
      width: 340px;
      height: 266px;
      margin-top: -217px;
      margin-right: auto;
    }
  
    .u-section-4 .u-group-1 {
      min-height: 299px;
      width: 299px;
      margin-top: -70px;
      margin-bottom: 60px;
    }
  
    .u-section-4 .u-text-1 {
      margin-top: 29px;
    }
  
    .u-section-4 .u-form-1 {
      width: 259px;
    }
  } .u-section-5 {
   /* background-image: url("np://user.desktop.nicepage.com/Site_79442317/images/pexels-photo-1471751.jpg?rand=6a13");*/
    background-position: 50% 50%;
  }
  
  .u-section-5 .u-sheet-1 {
    min-height: 666px;
  }
  
  .u-section-5 .u-text-1 {
    font-weight: 700;
    font-size: 2.25rem;
    width: 540px;
    margin: 154px auto 0;
  }
  
  .u-section-5 .u-text-2 {
    font-weight: 400;
    font-size: 1.125rem;
    width: 455px;
    margin: 27px auto 0;
  }
  
  .u-section-5 .u-text-3 {
    width: 163px;
    margin: 19px auto 0;
  }
  
  .u-section-5 .u-image-1 {
    width: 255px;
    height: 124px;
    margin: 27px auto 60px;
  }
  
  @media (max-width: 1199px) {
    .u-section-5 .u-sheet-1 {
      min-height: 594px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-5 .u-sheet-1 {
      min-height: 585px;
    }
  
    .u-section-5 .u-text-1 {
      font-size: 1.875rem;
      width: 340px;
    }
  
    .u-section-5 .u-text-2 {
      font-size: 1.25rem;
      width: auto;
      margin-left: 0;
      margin-right: 0;
    }
  }